.detail-page__container {
  width: 100%;
  height: 100%;

  form {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .detail-page__form--first {
      justify-content: space-between;
      p {
        margin-right: 5px;
      }
      input {
        width: 150px;
      }
    }
    .default-button {
      margin-top: 20px;
      text-align: right;
      button {
        background-color: $color--white;
        color: $color--blue;
        border: solid 1px $color--blue;
        border-radius: 4px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 0px;
        cursor: pointer;
      }
    }
    .detail-page__form--second {
      margin-top: 20px;
      justify-content: space-between;
      p:not(:first-child) {
        border-top-style: solid;
      }
      .content {
        div {
          // height: 300px;
          width: 100px;
        }
        text-align: center;
      }
      .options-content {
        p {
          border-top-style: none;
          margin-right: 10px;
        }
        .options {
          // justify-content: space-between;
          input {
            margin: 0 auto;
            margin-bottom: 10px;
          }
        }
      }

      .floating,
      .vacation,
      .holiday {
        // text-align: center;
        input {
          width: 100px;
        }
      }
    }
    .detail-page__form--third {
      margin-top: 20px;
      button {
        width: 100px;
        background-color: $color--white;
        color: $color--blue;
        border: solid 1px $color--blue;
        border-radius: 4px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        margin-left: auto;
        margin-right: 0px;
      }
    }
  }
}
